#============= fsck ==============
allow fsck block_device:blk_file { ioctl open read write };
allow fsck persist_data_file:dir getattr;
allow fsck self:capability dac_override;
allow fsck tmpfs:blk_file getattr;
allow fsck fsck:capability { dac_override };
allow fsck modem_efs_partition_device:blk_file { read open write ioctl };
allow fsck persist_block_device:blk_file { read open write ioctl };
allow fsck persist_file:dir { getattr };
allow fsck unlabeled:dir { getattr };
