#============= init ==============
allow init { domain -lmkd -crash_dump }:process noatsecure;
allow init debugfs:file write;
allow init exfat:dir search;
allow init shell_exec:file execute_no_trans;
allow init sysfs_mdnie:file { read write };
allow init sysfs_graphics:file setattr;
allow init sysfs_vibeamp:file setattr;
allow init system_file:file execute_no_trans;
allow init smd_device:chr_file { write ioctl };
allow init proc:file { write open };
allow init sysfs_devices_system_cpu:file write;
allow init sysfs_msm_power:file open;
allow init sysfs_lowmemorykiller:file { write open };
allow init sysfs_process_reclaim:file { write open };
allow init sysfs_thermal:file write;
allow init sysfs_socinfo:file write;
allow init system_data_file:chr_file getattr;
allow init sysfs_net:file write;
allow init fm_radio_device:chr_file ioctl;
allow init sysfs_fm:file write;
allow init sysfs_msm_perf:file { open write read };
allow init ion_device:chr_file { open read ioctl };
allow init tee_device:chr_file { read write ioctl };
allow init rpmb_device:blk_file { write };
allow init vendor_file:file { execute_no_trans };
allow init system_data_file:sock_file { write };
allow init system_data_file:file { append };
allow init init:capability { sys_ptrace };
allow init firmware-modem_file:dir { mounton };
allow init block_device:blk_file write;
allow init cache_file:file rename;
allow init efs_file:dir mounton;
allow init { default_android_hwservice hal_authsecret_hwservice hal_drm_hwservice hidl_base_hwservice }:hwservice_manager add;
allow init hwservicemanager:binder { call transfer };
allow init self:socket { read write };
allow init socket_device:sock_file unlink;
allow init sysfs:file { open read setattr write };
allow init sysfs_leds:lnk_file read;
allow init system_file:{ dir file } { mounton relabelfrom };
allow init { system_file vendor_file vendor_toolbox_exec }:file execute_no_trans;
allow init vfat:dir search;
allow init vfat:file { getattr open read };
allow init vndbinder_device:chr_file { ioctl open read write };
allow init wcnss_device:chr_file { open read write };
allow init sysfs_livedisplay_tuneable:file { read };
allow init hal_power_hwservice:hwservice_manager { add };
allow init hal_lineage_livedisplay_hwservice:hwservice_manager { add };
allow init hal_wifi_hwservice:hwservice_manager add;
allow init mpctl_socket:sock_file { write };
