#============= mediaserver ==============
allow mediaserver cameraproxy_service:service_manager find;
allow mediaserver cameraserver_service:service_manager add;
allow mediaserver fwk_camera_hwservice:hwservice_manager add;
allow mediaserver hal_camera_hwservice:hwservice_manager find;
allow mediaserver hal_lineage_camera_motor_hwservice:hwservice_manager find;
allow mediaserver hidl_base_hwservice:hwservice_manager add;
allow mediaserver mm-qcamerad:unix_dgram_socket sendto;
allow mediaserver sensor_privacy_service:service_manager find;
allow mediaserver socket_device:sock_file write;
allow mediaserver sysfs:file { open read };
allow mediaserver thermal-engine:unix_stream_socket connectto;
allow mediaserver sysfs_camera:dir search;
allow mediaserver sysfs_camera:file { getattr open read };
allow mediaserver camera_prop:property_service set;
allow mediaserver system_file:file execmod; # for libmmjpeg
allow mediaserver media_rw_data_file:file write;
allow mediaserver kernel:system module_request;
allow mediaserver init:unix_dgram_socket sendto;
allow mediaserver system_data_file:sock_file write;
allow mediaserver device:dir { open read };
