#============= system_server ==============
allow system_server vfat:dir { open read };
allow system_server sensors_device:chr_file rw_file_perms;
allow system_server efs_file:dir search;
allow system_server sysfs_vibeamp:file write;
allow system_server misc_file:dir getattr;
allow system_server sysfs_livedisplay_tuneable:file rw_file_perms;
allow system_server init:binder { call transfer };
allow system_server system_server:process execmem;
allow system_server crash_dump:process getpgid;
allow system_server adb_data_file:file { getattr };
allow system_server adb_data_file:dir { getattr };
allow system_server sysfs_input:file { write };
r_dir_file(system_server, persist_file)
