#============= system_app ==============
allow system_app apex_service:service_manager find;
allow system_app apexd:binder call;
allow system_app sysfs_vibrator:dir search;
allow system_app system_suspend_control_service:service_manager find;
allow system_app time_daemon:unix_stream_socket connectto;
allow system_app wificond:binder call;
allow system_app sysfs:file read;
allow system_app sysfs_input:file { getattr open write };
allow system_app sysfs_input:dir search;
allow system_app sysfs_input:file rw_file_perms;
allow system_app sysfs_input:lnk_file read;
allow system_app vendor_default_prop:property_service set;
allow system_app sysfs_zram:dir search;
allow system_app proc_pagetypeinfo:file { read open getattr };
allow system_app sysfs_zram:file { read open getattr };
allow system_app sysfs_mdnie:dir search;
allow system_app sysfs_mdnie:file { write open getattr };
