#============= thermal-engine ==============
r_dir_file(thermal-engine, sysfs_spmi_dev)

allow thermal-engine self:capability dac_override;
allow thermal-engine socket_device:sock_file { create setattr };
allow thermal-engine sysfs:dir { open read };
allow thermal-engine sysfs:file { getattr open read };
allow thermal-engine sysfs_spmi_dev:dir { open read search };
allow thermal-engine sysfs_spmi_dev:lnk_file read;
allow thermal-engine thermal-engine:capability { dac_override };

set_prop(thermal-engine, thermald_prop)

