#============= vendor_init ==============
allow vendor_init audio_data_file:dir { create setattr };
allow vendor_init bluetooth_data_file:dir { setattr };
allow vendor_init bluetooth_data_file:file setattr;
allow vendor_init camera_data_file:dir { create setattr };
allow vendor_init dhcp_data_file:dir { setattr };
allow vendor_init nfc_data_file:dir { search setattr };
allow vendor_init rootfs:dir { create setattr };
allow vendor_init system_data_file:dir { add_name create setattr write };
allow vendor_init system_data_file:file { create open setattr write };
allow vendor_init time_data_file:dir { create setattr };
allow vendor_init tombstone_data_file:dir { add_name search setattr write };
allow vendor_init vfat:dir search;
allow vendor_init radio_data_file:file { setattr write open };
allow vendor_init radio_data_file:lnk_file { unlink create getattr };
allow vendor_init exfat:dir search;
allow vendor_init proc:file write;
allow vendor_init unlabeled:dir { search setattr };
allow vendor_init selinuxfs:file write;
allow vendor_init unlabeled:dir { search };
allow vendor_init unlabeled:file setattr;
allow vendor_init kernel:security { check_context };
allow vendor_init misc_file:lnk_file { read };
allow vendor_init tombstone_data_file:dir { search };
allow vendor_init nfc_data_file:dir { setattr };
allow vendor_init packages_list_file:file { open read getattr };
allow vendor_init seapp_contexts_file:file { open read getattr };
